.task_card{
    width: 100%;
    border: 1px solid #C7D0D7;
    padding: 20px;
    border-radius: 5px;
}

.task_card_heading{
    margin-bottom: 20px;
}

.task_card_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_card_delete{
    width: 25px;
}


.task_card_delete_icon{
    width: 100%;
    cursor: pointer;
    opacity: 60%;
}


.task_card_delete:hover{
    background-color: #ECEFF4;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}